body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;
  }

   /* navbar */
   .navbar{
    /* background-color: rgb(41, 41, 41, 0.85) */
    background-color: white;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
  }

  .navbar-brand{
    font-size: 70px;
    padding-left: 40px;
    font-weight: bold;
    
  }

  .nav-item{
    font-size: 40px;
    padding: 5px;
  }
  .nav-link{
    color: black;
  }

  .nav-link:hover{
    color: gray;
  }
  
  .navbar-toggler{
    border: none;
    color: black;
  }
  
  .navbar-toggler-icon{
    font-size: 60px;
  }
  .nav-btn{
    font-size: 60px;
    color: black;
    position: relative;
    text-align: right;
    display:flex ;
    text-decoration: none;
  }
  .top-bg {
    background-image: url('images/FrontBackground.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    width: 100%;
    display: none;
  }





  /* content area */
  .content-box {
    margin-top: 100px;
    background-color: white;
    height: 100px;
  }

  /* menu buttons */
  .menu-card{
    margin: 15px;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    border-radius: 8px 8px 30px 30px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .menu-card:hover{
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.45);
  }
  .menu-column-img{
    flex: 0 0 40%;
    max-width: 40%;
  }

  .menu-column-content{
    flex: 0 0 60%;
    max-width: 60%;
  }

  .card-title{
    margin-top: 15%;
    font-size: 65px;
    text-align: left;
    font-weight: 300;
  }

  .catagoryActive{
    margin-top: 10px;
  }

  .menu-card img{
    height: 300px;

  }


  /* menu collapse */
  .collapse-btn{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 8px 30px 30px;
  }



/* order button */
.orderbutton{
  width: 100%; 

}
.order-btn{
  padding: 100px;
  width: 100%;
  font-size: 60px;
  background-color: #daab1d;
  color: white;
}

.order-btn:hover{
  background-color:#daab1d ;
}


button{
  border: none;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.order-counter{
  font-size: 35px;
  padding: 0px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}



        /* Registration form styles */
.registration-container {
    margin-top: 50px; /* Adjust as needed */
}

.registration-card {
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
}
.registration-card-header {
    background-color: #007bff;
    color: white;
    border-radius: 8px 8px 0 0;
  }
.registration-card-body {
    padding: 20px;
  }
.registration-form-group {
    margin-bottom: 20px;
  }
.registration-btn {
    font-size: 20px; 
}