body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(241, 241, 241);
  }

    /* navbar */
    .navbar{
      /* background-color: rgb(41, 41, 41, 0.85) */
      background-color: white;
      box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
      z-index: 10;
      position: absolute;
      width: 100%;
    }
  
    .navbar-brand{
      font-size: 70px;
      padding-left: 40px;
      font-weight: bold;
      
    }
  
    .navbar-nav{
      padding-left: 2%;
    }
  
    .nav-item{
      font-size: 40px;
      padding: 5px;
      border-bottom: 1px solid black; /* Adjust the thickness and color as needed */
      padding-bottom: 5px; /* Adjust the space between the text and the line */
      width: 95%;
    }
  
    .nav-item:last-child{
  
      border-bottom: none;
    }
    
    .nav-link{
      color: black;
    }
  
    .nav-link:hover{
      color: gray;
    }
    
    .navbar-toggler{
      border: none;
      color: black;
    }
    
    .navbar-toggler-icon{
      font-size: 60px;
    }
    .nav-btn{
      font-size: 60px;
      color: black;
      position: relative;
      text-align: right;
      display:flex ;
      text-decoration: none;
    }
  
    .navbar-collapse{
      background: rgb(228, 228, 228);
    }
    .top-bg {
      background-image: url('images/FrontBackground.jpg');
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 100%;
      display: none;
    }


    .container-fluid{
      text-align: center;
      top: 300px;
      position: relative;
    }
  
    .reset-box{
      position: relative;
      left: 5%;
      background: rgb(255, 255, 255);
      box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.40);
      width: 90%;
      height: 100%;
      border-radius: 30px;
      color: black;
      padding-bottom: 50px;
    }

    .reset-title{
      padding-top: 10%;
      font-size: 90px;
      font-weight: 500;
      margin-bottom: 3%;
    }

    .line{
      position: relative;
      background-color: black;
      width: 90%;
      height: 1px;
      left: 5%;
    }

    .input-box{
      margin-top: 15%;
      position: relative;
      left: 10%;
      width: 80%;
      border-radius: 20px;
      background: rgb(228, 228, 228);
      font-size: 60px;
    }


/* order button */
  .orderbutton{
    width: 100%; 

  }
  .order-btn{
    padding: 100px;
    width: 100%;
    font-size: 60px;
    background-color: #daab1d;
    color: white;
  }

  .order-btn:hover{
    background-color:#daab1d ;
  }



button{
  border: none;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.order-counter{
  font-size: 35px;
  padding: 0px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}



.social-login {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.social-login a {
  display: inline-block;
  margin-right: 20px;
}

.social-login a:last-child {
  margin-right: 0;
}

.social-login svg {
  width: 100px;
  height: 100px;
  color: #333;
  transition: all 0.3s;
}

.social-login a:hover svg {
  color: #fff;
  background-color: #3b5998; /* For Facebook */
}

.form-control {
  margin-bottom: 10px;
}

.login-here{
    margin-top: 20px;
}



/* media quirries */
@media only screen and (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
  .navbar-collapse{
    background-color: white;
  }
}




.modal-confirm {		
  color: #636363;
  width: 400px;
  margin: 30px auto;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;		
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
background: #60c7c1;
text-decoration: none;
transition: all 0.4s;
  line-height: normal;
min-width: 120px;
  border: none;
min-height: 40px;
border-radius: 3px;
margin: 0 5px;
outline: none !important;
}


.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}