body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(241, 241, 241);
  }

    /* navbar */
    .navbar{
      /* background-color: rgb(41, 41, 41, 0.85) */
      background-color: white;
      box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
      z-index: 10;
      position: absolute;
      width: 100%;
    }
  
    .navbar-brand{
      font-size: 70px;
      padding-left: 40px;
      font-weight: bold;
      
    }
  
    .navbar-nav{
      padding-left: 2%;
    }
  
    .nav-item{
      font-size: 40px;
      padding: 5px;
      border-bottom: 1px solid black; /* Adjust the thickness and color as needed */
      padding-bottom: 5px; /* Adjust the space between the text and the line */
      width: 95%;
    }
  
    .nav-item:last-child{
  
      border-bottom: none;
    }
    
    .nav-link{
      color: black;
    }
  
    .nav-link:hover{
      color: gray;
    }
    
    .navbar-toggler{
      border: none;
      color: black;
    }
    
    .navbar-toggler-icon{
      font-size: 60px;
    }
    .nav-btn{
      font-size: 60px;
      color: black;
      position: relative;
      text-align: right;
      display:flex ;
      text-decoration: none;
    }
  
    .navbar-collapse{
      background: rgb(228, 228, 228);
    }
    .top-bg {
      background-image: url('images/FrontBackground.jpg');
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 100%;
      display: none;
    }


    .container-fluid{
      text-align: center;
      top: 300px;
      position: relative;
    }

    /* table number box */
    .table-number-box{
      position: relative;
      left: 5%;
      background: rgb(255, 255, 255);
      box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.40);
      width: 90%;
      height: 100%;
      border-radius: 30px;
      color: black;
      padding: 10px;
      margin-bottom: 3%;
    }
    .table-text{
      display: inline-block;
      font-size: 60px;
      text-align: left;
      padding-left: 5%;
      font-weight: 500;
      margin-right: 45%;
    }
    .table-num-select{
      display: inline-block;
      border: none;
      position: relative; 
      border-radius: 20px;
      background: rgb(228, 228, 228);
      font-size: 70px;
      color: rgb(90, 90, 90);
      margin-right: 10%;
      }

    .box-option{
      font-size: 30px;
    }
  
    .reset-box{
      position: relative;
      left: 5%;
      background: rgb(255, 255, 255);
      box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.40);
      width: 90%;
      height: 100%;
      border-radius: 30px;
      color: black;
      padding-bottom: 50px;
    }

    .reset-title{
      padding-top: 3%;
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 3%;
      text-align: center;
      margin-left: 5%;
    }

    .line{
      position: relative;
      background-color: black;
      width: 90%;
      height: 1px;
      left: 5%;
    }

    .menu-item-box{
      position: relative;
      text-align: center;
      margin: 15px;
      margin-top: 20px;
      width: 90%;
      margin-left: 5%;
      border-radius: 30px 30px 30px 30px;
      box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      background-color: white;
      height: 200px;
    }
  
    .menu-item-name{
      position: relative;
      top: 30%;
      font-size: 60px;
      text-align: left;
      padding: 5%;
      font-weight: 400;
      display: inline;
    }
  
    .menu-item-price{
      position: relative;
      top: 30%;
      font-size: 60px;
      text-align: right;
      font-weight: 400;
      padding-left: 5%;
      display: inline;
    }
    .bottom-box{
      height: 700px;
      width: 100%;
    }

    .delete-btn{
      text-align: right;
      font-size: 40px;
      float: right;
      background-color: red;
      border-radius: 10px;
    }

    .input-box{
      margin-top: 15%;
      position: relative;
      left: 10%;
      width: 80%;
      border-radius: 20px;
      background: rgb(228, 228, 228);
      font-size: 60px;
    }

    .refund-text{
      padding: 3%;
      font-size: 40px;
      margin-bottom: 3%;
    }


/* order button */
  .orderbutton{
    width: 100%; 

  }
  .order-btn{
    padding: 100px;
    width: 100%;
    font-size: 60px;
    background-color: #daab1d;
    color: white;
  }

  .order-btn:hover{
    background-color:#daab1d ;
  }



button{
  border: none;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  left: 0;
}

.total-cost-box{
  padding: 5%;
  padding-bottom: 10%;
}

.total-cost{
  font-size: 60px;
  float: right;
}
.total-text{
  font-size: 60px;
  float: left;
}

.order-counter{
  font-size: 35px;
  padding: 0px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.hidden{
  display: none;
}

.refund-price{
  font-size: 60px;
}

.refund-title{
  text-align: center;
  padding-top: 3%;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 3%;
}

.refund-text{
  padding: 3%;
  font-size: 40px;
  margin-bottom: 3%;
}




.social-login {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.social-login a {
  display: inline-block;
  margin-right: 20px;
}

.social-login a:last-child {
  margin-right: 0;
}

.social-login svg {
  width: 100px;
  height: 100px;
  color: #333;
  transition: all 0.3s;
}

.social-login a:hover svg {
  color: #fff;
  background-color: #3b5998; /* For Facebook */
}

.form-control {
  margin-bottom: 10px;
}

.login-here{
    margin-top: 20px;
}



/* media quirries */
@media only screen and (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
  .navbar-collapse{
    background-color: white;
  }
}