body {
    margin: 0;
    padding: 0;
    height: 2700px;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(241, 241, 241);
  }

    /* navbar */
    .navbar{
      /* background-color: rgb(41, 41, 41, 0.85) */
      background-color: white;
      box-shadow: 0 10px 6px rgba(0, 0, 0, 0.25);
      z-index: 10;
      position: absolute;
      width: 100%;
    }
  
    .navbar-brand{
      font-size: 30px;
      padding-left: 40px;
      font-weight: bold;
      margin-right: 20px;
      
    }
    
  
    .navbar-nav{
      padding-left: 2%;
    }
  
    .nav-item{
      font-size: 40px;
      padding: 5px;
      border-bottom: 1px solid black; /* Adjust the thickness and color as needed */
      padding-bottom: 5px; /* Adjust the space between the text and the line */
      width: 95%;
    }
  
    .nav-item:last-child{
  
      border-bottom: none;
    }
    
    .nav-link{
      color: black;
    }
  

    
    .navbar-toggler{
      border: none;
      color: black;
    }
    x
    .navbar-toggler-icon{
      font-size: 60px;
    }
    .nav-btn{
      font-size: 60px;
      color: black;
      position: relative;
      text-align: right;
      display:flex ;
      text-decoration: none;
    }
  
    .navbar-collapse{
      background: rgb(228, 228, 228);
    }
    .top-bg {
      background-image: url('images/FrontBackground.jpg');
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 100%;
      display: none;
    }


    .container-fluid{
      text-align: center;
      top: 300px;
      position: relative;
    }
  
    .reset-box{
      position: relative;
      left: 5%;
      background: rgb(255, 255, 255);
      box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.40);
      width: 90%;
      height: 100%;
      border-radius: 30px;
      color: black;
      padding-bottom: 50px;
    }

    .reset-title{
      padding-top: 10%;
      font-size: 90px;
      font-weight: 500;
      margin-bottom: 3%;
    }

    .line{
      position: relative;
      background-color: black;
      width: 90%;
      height: 1px;
      left: 5%;
    }

    .input-box{
      margin-top: 15%;
      position: relative;
      left: 10%;
      width: 80%;
      border-radius: 20px;
      background: rgb(228, 228, 228);
      font-size: 60px;
    }


/* order button */
  .orderbutton{
    width: 100%; 

  }
  .order-btn{
    padding: 100px;
    width: 100%;
    font-size: 60px;
    background-color: #daab1d;
    color: white;
  }

  .order-btn:hover{
    background-color:#daab1d ;
  }



button{
  border: none;
  background-color: white;
}

.reg {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.order-counter{
  font-size: 35px;
  padding: 0px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}



.social-login {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.social-login a {
  display: inline-block;
  margin-right: 20px;
}

.social-login a:last-child {
  margin-right: 0;
}

.social-login svg {
  width: 100px;
  height: 100px;
  color: #333;
  transition: all 0.3s;
}



.form-control {
  margin-bottom: 10px;
}

.login-here{
    margin-top: 20px;
}



/* media quirries */
@media only screen and (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
  .navbar-collapse{
    background-color: white;
  }
}



.alert-danger {
  display: block;
  margin-top: 20px;
  margin-left: 0px; /* Set to block to show success messages */
  top: 20px;
  left: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid #ff0000;
  color: firebrick;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 9999;
}

.alert-success {
  display: block;
  margin-top: 20px;
  margin-left: 0px; /* Set to block to show success messages */
  top: 20px;
  left: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid #16b50e;
  color: rgb(32, 160, 0);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 9999;
}


.alert-message {
  display: block;
  margin-top: 20px;
  margin-left: 0px; /* Set to block to show success messages */
  top: 20px;
  left: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid #320eb5;
  color: rgb(41, 74, 185);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 9999;
}


.alert {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 1660px) {

  /*<----------- Login form ----------->*/

  .container-fluid{
    top: 200px;
    position: relative;
    
  }



  .reset-box{
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.40);
    width: 60%;
    height: 80%;
    border-radius: 30px;
    color: black;
    padding-bottom: 50px;
    margin-left: 290px;
  }

   /*<---- Alert  -----*/
  .alert{
    display: none;
  }
  .reset-title{
    padding-top: 10%;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 3%;
  }

  .line{
    position: relative;
    background-color: black;
    width: 90%;
    height: 1px;
    left: 5%;
  }

  .input-box{
    margin-top: 5%;
    position: relative;
    width: 40%;
    border-radius: 20px;
    background: rgb(228, 228, 228);
    font-size: 30px;
    margin-left: 20%;
  }

  h1{
    font-size: 27px;
  }

  .social-login {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  
  .social-login a {
    display: inline-block;
    margin-right: 20px;
  }
  
  .social-login a:last-child {
    margin-right: 0;
  }
  
  .social-login svg {
    width: 70px;
    height: 70px;
    color: #333;
    transition: all 0.3s;
  }
  
  .social-login a:hover svg {
    color: #fff;
    background-color: #3b5998; /* For Facebook */
    border-radius: 38px;
    width: 75px;
    height: 75px;
  }

  .login {
    width: 18%;
    height: 10%;
    text-align: center;
    left: 40%;
    position: relative;
    margin-top: 12%;
  }

  .order-btn{
    font-size: 40px;
    padding: 6%;

  }
  body {
    margin: 0;
    padding: 0;
    height: 2000px;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(241, 241, 241);
  }

  .reg{
    position: relative;
    width: 20%;
    left: 38%;

    top: 12%;
  }

  footer{
    margin-top: 15%;
  }
}
