<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://kit.fontawesome.com/c43d240003.js" crossorigin="anonymous"></script>
        <script>
          var errorMessage = "{{ error }}";
          if (errorMessage != "") {
            alert(errorMessage);
          }

          function removeItem(itemId) {
            // Send an AJAX request to Flask to remove the item with the specified ID
            axios.post('/remove_item', { id: itemId })
                .then(response => {
                    console.log('Item removed successfully:', response.data);
                    // Reload the page after the item is removed
                    location.reload();
                })
                .catch(error => {
                    console.error('Error removing item:', error);
                });
        }
        </script>

        <style>
            .btn.btn-primary {
                background-color: #daab1d;
                outline: #daab1d;
            }

            .card-header.registration-card-header{
                background-color: #daab1d;
            }

            @media only screen and (max-width: 767px) {
            .card.registration-card {
                width: 110%; /* Adjust the width as needed */
                margin: 0 auto; /* Center the card horizontally */
    }
}

        </style>


        <link rel="stylesheet" href="../static/userOrder.css">
        <link rel="stylesheet" href="../static/userfrontPage.css">
        <title>Horizon Restaurant</title>
        
    </head>
   
    <body class="vh-100">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top1">
        <div class="container">
          <div class="row">
            <div class="col">
              <a class="navbar-brand" href="{{ url_for('home') }}">Horizon</a>
            </div>
            <div class="col">
              <a class="navbar-brand" href="{{ url_for('home') }}">Restaurant</a>
            </div>
          </div>
        </div>

            <!-- User icon -->
            <button>
              <a class="nav-btn" aria-current="page" href="{{ url_for('account') }}">
                  <i class="fa-solid fa-user"></i>
              </a>
            </button>
            <!-- Bag-counter icon -->
            <button>
              <a class="nav-btn" aria-current="page" href="{{ url_for('orders') }}">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="order-counter">{{ menuitemslength }}</p>
            </a>
          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('account') }}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('orders') }}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('reservationspage') }}">Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('privacy') }}">Policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sessionsVarriables') }}">Restaurant</a>
        </li>
          {% if isLoggedIn == False %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
          </ul>
        </div>
      </nav>

    <!-- Content starts -->
    <form method="POST">
      <div class="container-fluid p-0">
        <div class="table-number-box">
          <h3 class="table-text">Table No.</h3>
          <select class="table-num-select" name="tableNumber" id="tableNumber">
            {% for tablenumber in tablenumbers %}
            <option class="box-option" value="{{ tablenumber[0] }}">{{ tablenumber[0] }}</option>
{% endfor %}
          </select>
        </div>
        <div class="reset-box">
          <h1 class="reset-title">Your Order</h1>
          <div class="menu-items-box">
            <ul class="menu-item-list">
            {% if menuitems %}
              {% for item in menuitems %}
                <li class="menu-list-item">
                    <input class="hidden" value="{{item['id']}}">
                    <h1 class="menu-quantity">{{ item['quantity'] }}x</h1>
                    <h1 class="menu-item">{{ item['name'] }}</h1>
                    <button type="button" onclick= "removeItem({{ item['id'] }})" class="delete-btn"><i class="fa-solid fa-x"></i></button>
                    <h1 class="menu-cost">£{{ item['price'] }}</h1>                
                </li>
              {% endfor %}
{% else %}
            <p style="font-size: 50px;">No items added yet. Please add some food to your order!</p>
            {% endif %}
            </ul>
          </div>
        </div>
    </body>

    <div class="mobile-submit">
    <!-- Order Button -->
      <div class="total-cost-box">
        <h3 class="total-text">Total</h3>
        <h3 class="total-cost">£{{ ordertotal }}</h3>
      </div>
      <div class="orderbutton">
      <button type="submit" class="btn order-btn">Order</button>
  </form>
    </div>
    </div>
<!-- Footer -->
  <footer class="footer">
    <div class="fcontainer">
      <div class="row">
        <div class="footer-col">
          <h4>Company</h4><br>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Our service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Vacancies</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Get Help</h4><br>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Online Booking</a></li>
            <li><a href="#">Payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Explore us</h4><br>
          <ul>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Chains</a></li>
            <li><a href="#">Recipes</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Partners</h4><br>
          <ul>
            <li><a href="#">Work With us</a></li>
            <li><a href="#">Advertise with us</a></li>
            <li><a href="#">Cooking insites</a></li>
            <li><a href="#">Affiliates</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p style="color: black; margin:0px ;"  >Copyright © 2024 Horizon Restaurant. All rights reserved.</p>
  </footer>
  
</html>
