<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

        </script>
        <script src="https://kit.fontawesome.com/c43d240003.js" crossorigin="anonymous"></script>
        <script>
          var errorMessage = "{{ error }}";
          if (errorMessage != "") {
            alert(errorMessage);
          }

          function deleteCustomer() {
              var result = confirm("Are you sure you want to delete the account?");
              
              if (result) {
                  // If user clicks 'OK', submit the form
                  document.getElementById("deleteCustomer").submit();
              } else {
                  // If user clicks 'Cancel', do nothing
              }
          }
      </script>
        <link rel="stylesheet" href="../static/userAccountPage.css">
        <link rel="stylesheet" href="../static/userfrontPage.css">
        <title>Horizon Restaurant</title>
    </head>
    <body class="vh-100">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg fixed-top1">
          <div class="container">
            <div class="row">
              <div class="col">
                <a class="navbar-brand" href="{{ url_for('home') }}">Horizon</a>
              </div>
              <div class="col">
                <a class="navbar-brand" href="{{ url_for('home') }}">Restaurant</a>
              </div>
            </div>
          </div>
  
              <!-- User icon -->
              <button>
                <a class="nav-btn" aria-current="page" href="{{ url_for('account') }}">
                    <i class="fa-solid fa-user"></i>
                </a>
              </button>
              <!-- Bag-counter icon -->
              <button>
                <a class="nav-btn" aria-current="page" href="{{ url_for('orders') }}">
                  <i class="fa-solid fa-bag-shopping"></i>
                  <p class="order-counter">{{ menuitemslength }}</p>
              </a>
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('account') }}">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('orders') }}">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reservationspage') }}">Reservations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('privacy') }}">Policies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('sessionsVarriables') }}">Restaurant</a>
          </li>
            {% if isLoggedIn == False %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}
            </ul>
          </div>
        </nav>
    
    <!-- Content starts -->
    <div class="container-fluid p-0">
      <!-- User Image -->
      <i class="fa-solid fa-user user-image user-icon"></i>
      <h1 class="user-name">{{ username }}</h2>
      <div class="user-options">
        <ul class="user-options-list">
          <li class="user-options-element">
            <a class="user-options-link" href="{{ url_for('accountOrders') }}">Orders</a>
          </li>
          <li class="user-options-element">
            <a class="user-options-link" href="{{ url_for('accountReservations') }}">Reservations</a>
          </li>
          <li class="user-options-element">
            <a class="user-options-link" href="{{ url_for('resetpassword') }}">Reset password</a>
          </li>
          <li class="user-options-element">
            <a class="user-options-link" href="{{ url_for('logout') }}">Log out</a>
          </li>
        </ul>
        <form id="deleteCustomer" action="{{ url_for('removeaccount') }}" method="POST">
          <button class="delete-btn" type="button" onclick="deleteCustomer()">Delete Account</button>
      </form>
      </div>
    </div>
      
    </body>
    <!-- Footer -->
    <div class="order-spce">
      <!-- Order Button -->
      <div class="orderbutton">
        <a class="btn order-btn"  href="{{ url_for('home') }}">ORDER</a>
      </div>
    </div>
    <footer class="footer">
      <div class="fcontainer">
        <div class="row">
          <div class="footer-col">
            <h4>Company</h4><br>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Vacancies</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Get Help</h4><br>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Online Booking</a></li>
              <li><a href="#">cancellations</a></li>
              <li><a href="#">Payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Explore us</h4><br>
            <ul>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Chains</a></li>
              <li><a href="#">Recipes</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Partners</h4><br>
            <ul>
              <li><a href="#">Work With us</a></li>
              <li><a href="#">Advertise with us</a></li>
              <li><a href="#">Cooking insites</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
        </div>
      </div>
      <p style="color: black; margin:0px ;"  >Copyright © 2024 Horizon Restaurant. All rights reserved.</p>
    </footer>
</html>
