<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

        </script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script src="https://kit.fontawesome.com/c43d240003.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <link rel="stylesheet" href="../static/userfrontPage.css">
        <title>Horizon Restaurant</title>
    </head>
  <body class="vh-100">
    <div id="app">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top1">
        <div class="container">
          <div class="row">
            <div class="col">
              <a class="navbar-brand" href="{{ url_for('home') }}">Horizon</a>
            </div>
            <div class="col">
              <a class="navbar-brand" href="{{ url_for('home') }}">Restaurant</a>
            </div>
          </div>
        </div>

            <!-- User icon -->
            <button>
              <a class="nav-btn" aria-current="page" href="{{ url_for('account') }}">
                  <i class="fa-solid fa-user"></i>
              </a>
            </button>
            <!-- Bag-counter icon -->
            <button>
              <a class="nav-btn" aria-current="page" href="{{ url_for('orders') }}">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="order-counter" v-text="menuitemslength"></p>
            </a>
          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('account') }}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('orders') }}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('reservationspage') }}">Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('privacy') }}">Policies</a>
          </li>
          </li>
          {% if isLoggedIn == Flase %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
          </ul>
        </div>
      </nav>




        <!--Main Content-->
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col">
              <div class="top-bg"></div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col">
              <div class="content-box">
                    <div class="row">
                      <!-- Menu Items -->
                      <!-- Starters -->
                      <div class="col-md-12 col-lg-3">
                        <div class="card menu-card">
                          <a class="btn collapse-btn" data-bs-toggle="collapse" href="#starterCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" @click="toggleArrowRotation('starter')"></a>
                          <div class="row">
                            <div class="menu-column-img">
                              <img src="../static/images/Starters.jpg" class="card-img" alt="Starters">
                            </div>
                            <div class="menu-column-content">
                              <div class="card-body">
                                <h5 class="card-title align-left">Starters</h5>
                                <i class='menu-card-arrow fas fa-angle-up' :class="{'open': arrowRotationStates.starter}"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="collapse menu-mobile menu-content"  id="starterCollapse">
                        {% for menuitem in menutable %}
                        {% if menuitem[3] == 'Starters' %}
                        <div class="menu-item-box">
                          {% if menuitem[7] == True %}
                          <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                          <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                          {% else %}
                          <div class="out-of-stock-box">
                            <h1 class="out-of-stock-text">Out of Stock!</h1>
                          </div>
                          {% endif %}
                          <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                          <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                      <!-- Mains -->
                      <div class="col-md-12 col-lg-3">
                          <div class="card menu-card">
                            <a class="btn collapse-btn" data-bs-toggle="collapse" href="#mainsCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" @click="toggleArrowRotation('mains')"></a>
                            <div class="row">
                              <div class="menu-column-img">
                                <img src="../static/images/Mains.jpg" class="card-img" alt="Mains">
                              </div>
                              <div class="menu-column-content">
                                <div class="card-body">
                                  <h5 class="card-title align-left">Mains</h5>
                                  <i class='menu-card-arrow fas fa-angle-up' :class="{'open': arrowRotationStates.mains}"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="collapse menu-mobile menu-content" id="mainsCollapse">
                          {% for menuitem in menutable %}
                          {% if menuitem[3] == 'Mains' %}
                            <div class="menu-item-box">
                              {% if menuitem[7] == True %}
                              <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                              <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                              {% else %}
                              <div class="out-of-stock-box">
                                <h1 class="out-of-stock-text">Out of Stock!</h1>
                              </div>
                              {% endif %}
                              <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                              <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                        <!-- Desserts -->
                        <div class="col-md-12 col-lg-3" >
                          <div class="card menu-card">
                            <a class="btn collapse-btn" data-bs-toggle="collapse" href="#dessertCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" @click="toggleArrowRotation('desserts')"></a>
                            <div class="row">
                              <div class="menu-column-img">
                                <img src="../static/images/Desert.jpg" class="card-img" alt="Desserts">
                              </div>
                              <div class="menu-column-content">
                                <div class="card-body">
                                  <h5 class="card-title align-left">Desserts</h5>
                                  <i class='menu-card-arrow fas fa-angle-up' :class="{'open': arrowRotationStates.desserts}"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="collapse menu-mobile menu-content" id="dessertCollapse">
                          {% for menuitem in menutable %}
                          {% if menuitem[3] == 'Dessert' %}
                            <div class="menu-item-box">
                              {% if menuitem[7] == True %}
                              <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                              <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                              {% else %}
                              <div class="out-of-stock-box">
                                <h1 class="out-of-stock-text">Out of Stock!</h1>
                              </div>
                              {% endif %}
                              <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                              <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                        <!-- Drinks -->
                        <div class="col-md-12 col-lg-3">
                          <div class="card menu-card">
                            <a class="btn collapse-btn" data-bs-toggle="collapse" href="#drinksCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" @click="toggleArrowRotation('drinks')"></a>
                            <div class="row">
                              <div class="menu-column-img">
                                <img src="../static/images/Drinks.jpg" class="card-img" alt="Drinks">
                              </div>
                              <div class="menu-column-content">
                                <div class="card-body">
                                  <h5 class="card-title align-left">Drinks</h5>
                                  <i class='menu-card-arrow fas fa-angle-up' :class="{'open': arrowRotationStates.drinks}"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="collapse menu-mobile menu-content" id="drinksCollapse">
                          {% for menuitem in menutable %}
                          {% if menuitem[3] == 'Drinks' %}
                            <div class="menu-item-box">
                              {% if menuitem[7] == True %}
                              <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                              <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                              {% else %}
                              <div class="out-of-stock-box">
                                <h1 class="out-of-stock-text">Out of Stock!</h1>
                              </div>
                              {% endif %}
                              <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                              <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                         <!-- empty box to make menu items not be covered by footer when scroling -->
                        <div class="col-md-3">
                          <div class="bottom-box"></div>
                        </div>
                    </div>
                    
              </div>

              <div id="starter-head" class="collapse-contain">

                <div class="collapse menu-content menu-web"  id="starterCollapse">
                  {% for menuitem in menutable %}
                  {% if menuitem[3] == 'Starters' %}
                    <div class="menu-item-box">
                      {% if menuitem[7] == True %}
                      <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                      <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                      {% else %}
                      <div class="out-of-stock-box">
                        <h1 class="out-of-stock-text">Out of Stock!</h1>
                      </div>
                      {% endif %}
                      <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                      <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="collapse menu-content  menu-web" id="mainsCollapse">
                  {% for menuitem in menutable %}
                  {% if menuitem[3] == 'Mains' %}
                    <div class="menu-item-box">
                      {% if menuitem[7] == True %}
                      <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                      <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                      {% else %}
                      <div class="out-of-stock-box">
                        <h1 class="out-of-stock-text">Out of Stock!</h1>
                      </div>
                      {% endif %}
                      <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                      <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="collapse menu-content menu-web" id="dessertCollapse">
                  {% for menuitem in menutable %}
                  {% if menuitem[3] == 'Dessert' %}
                    <div class="menu-item-box">
                      {% if menuitem[7] == True %}
                      <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                      <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                      {% else %}
                      <div class="out-of-stock-box">
                        <h1 class="out-of-stock-text">Out of Stock!</h1>
                      </div>
                      {% endif %}
                      <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                      <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="collapse menu-content menu-web" id="drinksCollapse">
                  {% for menuitem in menutable %}
                  {% if menuitem[3] == 'Drinks' %}
                    <div class="menu-item-box">
                      {% if menuitem[7] == True %}
                      <a class="btn collapse-btn" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"></a>
                      <button class="menu-item-add"><i class="fa-solid fa-plus"></i></button>
                      {% else %}
                      <div class="out-of-stock-box">
                        <h1 class="out-of-stock-text">Out of Stock!</h1>
                      </div>
                      {% endif %}
                      <h5 class="menu-item-name">{{menuitem[2]}}</h5>
                      <h5 class="menu-item-price" id="tikkaprice">£{{ '%.2f'|format(menuitem[5]) }}</h5>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div> 
          
        </div>
               
        <!-- menu item popups -->


        {% for menuitem in menutable %}

      
          <div class="collapse menu-content" id="{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}">
            <div class="menu-item-content-pop">
              <img class="item-img" src="../static/images/mains.jpg" alt="Curry"> 
              <div class="menu-item-content">
                <a class="btn menu-collapse-item-close" data-bs-toggle="collapse" href="#{{menuitem[2]|replace(' ', '_')}}{{menuitem[0]}}" role="button" aria-expanded="false"><i class="fa-solid fa-arrow-left"></i></a>
                <header id="{{menuitem[2]}}" class="menu-item-header">{{menuitem[2]}}</header>
                <p class="menu-item-description">{{ menuitem[4] }} </p>
                <div class="Allergies">
                  <H4>Allergies</H4>
                  <p>Nut</p>
                  <p>Milk</p>
                </div>
                <div id="menu-item-{{menuitem[3]}}" class="menu-item-qty">
                  <button @click="menu_item_quantity_decrease('{{menuitem[2]}}_count')" class="sum">-</button>
                  <p id="{{menuitem[2]}}_count" class="sum">1</p>
                  <button @click="menu_item_quantity_increment('{{menuitem[2]}}_count')" class="sum">+</button>
                </div>
                
                  <button class="add-order" @click="add_to_order('{{menuitem[0]}}','{{menuitem[2]}}','{{menuitem[2]}}_count','{{ '%.2f'|format(menuitem[5]) }}')">Add Order</button>
              </div>
            </div>
            <div class="outer-background"></div>
          </div>
        

        {% endfor %}
    </div>
    

    <!-- vue code -->
    <script>
      //arrow rotation code 
      const { createApp, ref, computed } = Vue;
      
      createApp({
       setup() {
        //website varriables
        const isLoggedIn = '{{ isLoggedIn }}'  
        var menuitemsarray = JSON.parse('{{ menuitems | tojson | safe }}');
        const menuitems = ref(menuitemsarray);
        const menuitemslength = ref({{ menuitemslength }});
        
          //variables for the buttons and their states
            
          const arrowRotationStates = ref({
            starter: false,
            mains: false,
            desserts: false,
            drinks: false,
          });
      
          //inverts arrow varriable allowing open class to be either used or blocked
          const toggleArrowRotation = (menuId) => {
            arrowRotationStates.value[menuId] = !arrowRotationStates.value[menuId];
          };

          // Define the increment function within the setup function
          const menu_item_quantity_increment = (menuId) => {
            // Get the element by its ID
            var displayElement = document.getElementById(menuId);
            // Parse the current number, increment it, and update the element's text content
            var currentNumber = parseInt(displayElement.textContent, 10);
            displayElement.textContent = currentNumber + 1;
          };

          // Define the increment function within the setup function
          const menu_item_quantity_decrease = (menuId) => {
            // Get the element by its ID
            var displayElement = document.getElementById(menuId);
            // Parse the current number, increment it, and update the element's text content
            var currentNumber = parseInt(displayElement.textContent, 10);
            if (currentNumber -1 > 0) {
            displayElement.textContent = currentNumber - 1;
            } else {
              displayElement.textContent = 1
            }
          };



          const add_to_order = (menuitemid,menuitemname,quantity,menuitemprice) => {
            // Correctly access items using .value
            var menuquantity = document.getElementById(quantity);
            var menuprice = parseFloat((menuitemprice).replace('£', '')) * parseInt(menuquantity.textContent);
            // Push the new item into the menuitems array
            menuitems.value.push({ id: menuitemid, name: menuitemname, quantity: menuquantity.textContent, price: menuprice, item_price: menuitemprice});
            // Alert the JSON string representation of the updated menuitems array
           alert("Added " +menuitemname+ " to order")
            // Convert the menuitems array to a JSON string
            const dataToSend = JSON.stringify(menuitems.value);
            // Send the updated items array to the Flask backend
            axios.post('{{ url_for('add_to_cart') }}', dataToSend, {
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => {
              // Handle the response
              menuitemslength.value = response.data;
            })
            .catch(error => {
              console.error(error);
            });
        };

          return {
            arrowRotationStates,
            toggleArrowRotation,
            menu_item_quantity_increment,
            menu_item_quantity_decrease,
            add_to_order,
            isLoggedIn,
            menuitems,
            menuitemsarray,
            menuitemslength,
          };
       }
      }).mount('#app');
      </script>
    </body>
    <!-- Footer -->
    <div class="mobile-footer">
      <!-- Order Button -->
      <div class="orderbutton">
        <a href="{{ url_for('orders') }}" class="btn order-btn">ORDER NOW</a>
      </div>
    </div>
    <footer class="footer">
      <div class="fcontainer">
        <div class="row">
          <div class="footer-col">
            <h4>Company</h4><br>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Vacancies</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Get Help</h4><br>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Online Booking</a></li>
              <li><a href="#">cancellations</a></li>
              <li><a href="#">Payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Explore us</h4><br>
            <ul>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Chains</a></li>
              <li><a href="#">Recipes</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Partners</h4><br>
            <ul>
              <li><a href="#">Work With us</a></li>
              <li><a href="#">Advertise with us</a></li>
              <li><a href="#">Cooking insites</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
        </div>
      </div>
      <p style="color: black; margin:0px ;"  >Copyright © 2024 Horizon Restaurant. All rights reserved.</p>
    </footer>
</html>
