<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">

        </script>
        <script src="https://kit.fontawesome.com/c43d240003.js" crossorigin="anonymous"></script>
        <script>
          function riseCatagory(elementId) {
            var element = document.getElementById(elementId);
            if (element.classList.contains('catagoryActive')) {
                element.classList.remove('catagoryActive');
            } else {
                element.classList.add('catagoryActive');
            }
          }
        </script>
        <link rel="stylesheet" href="../static/userAccountPage.css">
        <title>Horizon Restaurant</title>
    </head>
    <body class="vh-100">
        <!--Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top1">
        <a class="navbar-brand" href="{{ url_for('frontpage') }}">Horizon <br>Restaurant</a>
            <!-- User icon -->
            <button>
                <a class="nav-btn" aria-current="page" href="{{ url_for('accountpage') }}">
                  <i class="fa-solid fa-user"></i>
              </a>
            </button>
            <!-- Bag-counter icon -->
            <button>
              <a class="nav-btn" aria-current="page" href="#">
                <i class="fa-solid fa-bag-shopping"></i>
                <p class="order-counter">10</p>
            </a>
          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('accountpage') }}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('orderspage') }}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('reservationspage') }}">Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('privicypolpage') }}">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </nav>
    
    <!-- Content starts -->
    <div class="container-fluid p-0">
      <!-- User Image -->
      <i class="fa-solid fa-user user-image"></i>
      <h1 class="user-name">Alex Rogers</h2>
      <div class="user-options">
        <ul class="user-options-list">
          <li class="user-options-element">
            <a class="user-options-link" href="#">Orders</a>
          </li>
          <li class="user-options-element">
            <a class="user-options-link" href="#">Reservations</a>
          </li>
          <li class="user-options-element">
            <a class="user-options-link" href="{{ url_for('resetpasswordpage') }}">Reset password</a>
          </li>
          <li class="user-options-element">
            <a class="user-options-link" href="{{ url_for('logout') }}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
      
    </body>
    <!-- Footer -->
    <footer>
      <!-- Order Button -->
      <div class="orderbutton">
        <a class="btn order-btn"  href="{{ url_for('frontpage') }}">ORDER</a>
      </div>
      
    </footer>
</html>